body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2b283A;
    margin: 0;
}

header {
    background-color: #5F29A3;
    padding: 45px 0;
}

section {
    padding: 45px 0;
}

h1 {
    color: whitesmoke;
    font-size: 36px;
    margin: 0;
    
}

h2 {
    font-size: 26px;
    margin-top: 0;
}

h3 {
    color: #D0AAFF;
    font-size: 20px;
    margin: 0;
}

.main-image {
    width: 100%;
}

a {
    color: #EF5839;
    text-decoration: underline dotted;
}

a:hover, 
a:active {
    color: #d4b44c;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 500;
    text-decoration: none;
}

.btn-dark {
    background-color: #5F29A3;
    color: whitesmoke;
}

.btn-mid {
    background-color: #f0e0ff;
    color: #5F29A3;
}

.btn-light {
    background-color: whitesmoke;
    color: #5F29A3;
}